<div class="header-div">
    <div class="header-logo col-lg-2 col-md-2 col-sm-2 col-xs-2">
        <img src="assets/icons/logo.jpg" alt="Logo"/>
    </div>
    <div class="breadcrumb-div col-lg-10 col-md-10 col-sm-10 col-xs-10">
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
            <!--<p>Project > Plan > Revenue Feasibility</p>-->
        </div>
        <div class="input-group col-lg-2 col-md-2 col-sm-2 col-xs-2 right">
            <i class="fa fa-search fa-lg header-search"></i>
            <input type="text" class="" placeholder="Search" style="margin-top:15px">
            <!--<input type="text" class="form-control" placeholder="Search">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button"><i class="fa fa-search"></i></button>
            </span>-->
        </div>
    </div>
</div>
  