<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row feasibility-head-div">
        <div class="row head-content">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                <label>{{'Client & Regional Profile'}}</label>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 pull-left">
                <button class="btn btn-default feasable-btn-blue"
                    data-toggle="modal" data-target="#new-feasbale-modal">
                    Save
                </button>
            </div>
        </div>
    </div>

    <div class="row revenue-margin">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 revenue-form-layout">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row pad-10">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label for="" class="pull-left text-left">Land value</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <input type="text" class="pull-right text-right" value="$685000.00" />
                </div>
            </div>
            <div class="row pad-10">
                <div class="col-lg-6 col-md-6 col-sm-6">
                    <label for="" class="pull-left text-left">% of Stamp Duty</label>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6">
                   <input type="text" class="pull-right text-right" value="6.00%" />
                </div>
            </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
            </div>
            
        </div>
    </div>
    
</div>