<!-- Modal -->
  <div class="modal fade" id="new-feasbale-modal" class="new-feasbale-modal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><i class="fa fa-close"></i></button>
          <h4 class="modal-title">New Feasibility Project</h4>
        </div>
        <div class="modal-body new-feasable-body">
          <div class="row pad-10">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                  <label> Project Name </label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                   <input type="text" class=""/>
              </div>
          </div>
          <div class="row pad-10">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                  <label> Address Line 1 </label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                   <input type="text" class=""/>
              </div>
          </div>
          <div class="row pad-10">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                  <label> Address Line 2</label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                   <input type="text" class=""/>
              </div>
          </div>
          <div class="row pad-10">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                  <label> State </label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                   <input type="text" class=""/>
              </div>
          </div>
          <div class="row pad-10">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 text-right">
                  <label> Postal Code </label>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                   <input type="text" class=""/>
              </div>
          </div>
          <div class="row">
            <button type="button" class="pull-right btn btn-default feasable-btn-blue">Create</button>
          </div>
        </div>
        <!-- <div class="modal-footer">
          <button type="button" class="btn btn-default feasable-btn-blue">Create</button>
        </div> -->
      </div>
    </div>
  </div>