<new-feasiblity-popup></new-feasiblity-popup>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="row feasibility-head-div">
        <div class="row head-content">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <label>Revenue Feasibility</label>

            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <button class="btn btn-default feasable-btn-blue pull-right"
                    data-toggle="modal" data-target="#new-feasbale-modal">
                    + New Feasibility
                </button>
            </div>
        </div>
    </div>
    <div class="row pad-20">
        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12  text-left revenue-form-layout">
            <div class="pad-20">
                <div class="row pad-10">
                    <div>
                        <label for="" class="headerText-big">9 Apartment Project</label>
                    </div>
                    <div>
                        <label for="" class="headerText-small">Windsor,QLD</label>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >Total Construction Area</label>
                    </div>
                    <div>
                        <p class="revenue-result">145.00m<sup>2<sup></p>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >Land Value</label>
                    </div>
                    <div>
                        <p class="revenue-result">$226,228.39</p>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >Total Project Revenue</label>
                    </div>
                    <div>
                        <p class="revenue-result">$612,146.91</p>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >You should pay no more than</label>
                    </div>
                    <div>
                        <p class="revenue-result">$853,692.05</p>
                    </div>
                </div>
            </div>
         </div>
         <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12  text-left revenue-form-layout">
            <div class="pad-20">
                <div class="row pad-10">
                    <div>
                        <label for="" class="headerText-big">9 Apartment Project</label>
                    </div>
                    <div>
                        <label for="" class="headerText-small">Windsor,QLD</label>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >Total Construction Area</label>
                    </div>
                    <div>
                        <p class="revenue-result">145.00m<sup>2<sup></p>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >Land Value</label>
                    </div>
                    <div>
                        <p class="revenue-result">$226,228.39</p>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >Total Project Revenue</label>
                    </div>
                    <div>
                        <p class="revenue-result">$612,146.91</p>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >You should pay no more than</label>
                    </div>
                    <div>
                        <p class="revenue-result">$853,692.05</p>
                    </div>
                </div>
            </div>
         </div>
         <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12  text-left revenue-form-layout">
            <div class="pad-20">
                <div class="row pad-10">
                    <div>
                        <label for="" class="headerText-big">9 Apartment Project</label>
                    </div>
                    <div>
                        <label for="" class="headerText-small">Windsor,QLD</label>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >Total Construction Area</label>
                    </div>
                    <div>
                        <p class="revenue-result">145.00m<sup>2<sup></p>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >Land Value</label>
                    </div>
                    <div>
                        <p class="revenue-result">$226,228.39</p>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >Total Project Revenue</label>
                    </div>
                    <div>
                        <p class="revenue-result">$612,146.91</p>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >You should pay no more than</label>
                    </div>
                    <div>
                        <p class="revenue-result">$853,692.05</p>
                    </div>
                </div>
            </div>
         </div>
         <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12  text-left revenue-form-layout">
            <div class="pad-20">
                <div class="row pad-10">
                    <div>
                        <label for="" class="headerText-big">9 Apartment Project</label>
                    </div>
                    <div>
                        <label for="" class="headerText-small">Windsor,QLD</label>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >Total Construction Area</label>
                    </div>
                    <div>
                        <p class="revenue-result">145.00m<sup>2<sup></p>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >Land Value</label>
                    </div>
                    <div>
                        <p class="revenue-result">$226,228.39</p>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >Total Project Revenue</label>
                    </div>
                    <div>
                        <p class="revenue-result">$612,146.91</p>
                    </div>
                </div>
                <div class="row pad-10">
                    <div>
                        <label for="" >You should pay no more than</label>
                    </div>
                    <div>
                        <p class="revenue-result">$853,692.05</p>
                    </div>
                </div>
            </div>
         </div>
    </div>
</div>