<ul class="nav nav-pills nav-stacked" data-spy="affix" data-offset-top="205">
    <li class="sideMenuItem">
        <a ui-sref="landing">
            <i class="fa fa-2x fa-home" aria-hidden="true"></i>
        </a>
    </li>
    <li class="sideMenuItem">
        <a ui-sref="revenueDashboard">
            <i class="fa fa-2x fa-tasks" aria-hidden="true">
            </i>
        </a>
    </li>
    <li class="sideMenuItem">
        <a ui-sref="revenue">
            <i class="fa fa-2x fa-bar-chart" aria-hidden="true"></i>
        </a>
    </li>
    <li class="sideMenuItem">
        <a ui-sref="profile">
            <i class="fa fa-2x fa-cog" aria-hidden="true"></i>
        </a>
    </li>
</ul>